<!DOCTYPE html>
<html>
	<head>
		<title>Pintrest CLone</title>
		<link rel="stylesheet" href="styles.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>

	
	<body>
	 <header>
		<div id="header">
		   <div class="search">
		 
          <input id="search_input" type="text" placeholder="Search..." required>
          
		</div>
		<div>
			   <img src="https://lh3.googleusercontent.com/SrULGsyndXJk6Gs4Lmv34sOlMDAroy1bzPPr9X1U5oVdv5TAAJX4JkYPO_wQAdP7TBA=w300" ></ul>
		</div>	
		<div id="right-header">
		 <div>    
		      <a href="#">
          <span class="glyphicon glyphicon-align-justify"></span>
          </a>
		</div>
		<div>
			    <a href="#">
          <span class="glyphicon glyphicon-user"></span>
          </a>
		</div>
		
		      <div>
		      <a href="#">
          <span class="glyphicon glyphicon-comment"></span>
          </a>
     </div>     
		</div>
	</div>

		</header>	
					<div id="picture_one">                     
					 <div class="package_one">
					  <img src="http://a.dilcdn.com/bl/wp-content/uploads/sites/6/2015/10/tfa_poster_wide_header-1536x864-959818851016.jpg" >	
						  <p>Star Wars</p>	
					 </div>
					</div>
						<div id="picture_two">                     
					  	<div class="package_two">
					  		<img src="http://www.foxmovies.com/movies/deadpool/download-gallery-image/655">
					  		<p>Deadpool</p>
					  	</div>
					  </div>
					  <div id="picture_three">                 
					   <div class="package_three">
						  <img src= "https://igmedia.blob.core.windows.net/igmedia/tamil/reviews/angry-bird-movie-review-m.jpg">	
							  <p>Angry Birds</p>
						 </div>
						</div>
						<div id="picture_four">                 
					    <div class="package_four">
						    <img src="http://henrycavill.org/images/Films/2016-Batman-v-Superman/promo/BVS-who-will-win-txls-horiz.jpg"  >
							    <p>Batman vs Superman</p>
							</div>
						</div>	
							<div id="picture_five">                 
					      <div class="package_five">
						     <img src="http://allthingsd.com/files/2013/01/ted-movie.jpeg">
							     <p>Ted Movie</p>
							</div>
						</div>	
							<div id="picture_six">                 
					      <div class="package_six">
						       <img src="https://orthosphere.files.wordpress.com/2016/07/enterprise-newest.jpg?w=667&h=283">
							        <p>Star Trek</p>
							</div>
						</div>	
							<div id="picture_seven">                 
					      <div class="package_seven">
						      <img src="http://cdn.epicstream.com/assets/uploads/newscover/760x400/civwaz.jpg">
							      <p>Captain America Civil War</p>
							</div>
						</div>	
							<div id="picture_eight">                 
					       <div class="package_eight">
						      <img src="https://visitventuraca.com/wp-content/uploads/2015/10/B9V57jlCUAAx5Wa.png-large.png">
							      <p>Peanuts</p>
							</div>
						</div>	
							<div id="picture_nine">                 
					      <div class="package_nine">
						      <img src="https://cdn0.vox-cdn.com/thumbor/09ADNKpf3DVsntC1JjRHUCzZoeM=/0x51:1024x627/1600x900/cdn0.vox-cdn.com/uploads/chorus_image/image/49250867/wonderwoman.0.jpg">
							        <p>Wonder Woman</p>
							</div>
						</div>
        </body>
    </html>
